@use "custom";

.profile-menu { 
    .dropdown-menu{
      right: 0;
      left: unset;
    }
    .fa-fw{
      margin-right: 10px;
    }  
  }
  .toggle-change{
      &::after {
      border-top: 0;
      border-bottom: .3em solid;
      }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #fff;
  }
  
  .side-navbar {
    width: 250px;
    height: 100%;
    margin-left: -300px;
    background-color: #100901;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }
  
  .my-container input {
    border-radius: 2rem;
    padding: 2px 20px;
  }

#info {
  min-height: 100%;
  padding-top: 5%;
}

#div-innpakning {
  height: 1000px;
}

#p_01 {
  margin: 3%;
}

#sidebar {
  animation: mymove 7s infinite;
  border-top: 3px solid rgb(223, 17, 17);
}

@keyframes mymove {
  50% {border-color: rgb(35, 22, 224);}
}

#idkxd {
  margin-top: 10%;
  margin-bottom: 10%;
}

#littinfo {
  display: flex;
  flex-direction: column;
}

.litta {
  display: flex;
  flex-direction: row;
}

.gg {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}